<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col"> Event Id</th>
        <th scope="col">Event Name</th>
        <th scope="col">Delet Event</th>
        <th scope="col">Update Event</th>

      
        
      </tr>
    </thead>
    <tbody *ngFor="let item of collection">
      <tr >
   
        <td>{{item.eventId}}</td>
        <td>{{item.eventName}}</td>
       
        <td><i (click)="EventItem(item.eventId)" class="fa fa-trash" style="font-size:30px;color:white;"></i></td>
        <td><a routerLink="/event/edit/{{item.eventId}}"><i  class="fa fa-edit" style="font-size:30px;color: white;"></i></a></td>
     
     
      </tr>
      
    </tbody>
  </table>
